<h2>PEOPLE!!</h2>
<div class="form box">
    <h3>People form:</h3>
    {{people-form model=person}}
</div>
<div class="list box">
    <table>
        <thead>
           <tr>
               <th>Firstname</th>
               <th>Lastname</th>
               <th>Fullname</th>
               <th>Edit</th>
           </tr>
        </thead>
        <tbody>
        {{#each model as |person|}}
            <tr>
                <td>{{person.firstName}}</td>
                <td>{{person.lastName}}</td>
                <td>{{person.fullName}}</td>
                <td><button type="button" {{action 'editPerson' person}}>Edit</button></td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>
